body {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    flex-direction: column;
}

section#calculator {
    display: inherit;
    flex-direction: column;
    border: 1px solid gray;
    background-color: darkgray;
    padding: 15px 10px;
    border-radius: 2px;
    align-items: center;
}

section#monitor {
    display: inherit;
    flex-direction: row;
}

section#calculator section#res {
    display: inherit;
    position: relative;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 2px;
    margin-bottom: 10px;
    height: 35px;
    width: 140px;
    padding: 0 5px;
    white-space: nowrap;
}

section#calculator section#res section#scroll {
    display: flex;
    position: relative;
    overflow: hidden;
}

section#calculator button#clear {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 25px;
    padding: 0;
    border: 0;
    color: white;
    border-left: 1px solid darkgray;
    background-color: black;
    font-size: 15px;
    border-radius: 2px;
}

section#calculator table#keys td {
    text-align: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section#calculator table#keys td:hover {
    background-color: gray;
}
